* {
    margin: 0;
    padding: 0;
}
.section-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-principal div {
    width: 25%;
}
.section-principal p {
    border: 2px solid blue;
}   
.section-dos{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between  ;
    border: 2px solid green;
    height: 50vh;
}
.section-dos div {
    border: 2px solid aqua;
}