* {
  padding: 5px;
  margin: 5px;
  font-family: monospace;
}

body {
  background: white;
}

h1 {
  color: black;
}

.contenedor,
.contenedor-dos, 
.contenedor-tres,
.contenedor-cuatro,
.contenedor-cinco {
  background-color: aliceblue;
  border: 3px solid black;
  height: 200px;
  width: 90%;
  display: flex;
  align-items: flex-start;

}

li {
  list-style: none;
  border: 2px solid red;
  margin: 12px;
}

.contenedor-dos {

  align-items: flex-end;
}

.contenedor-tres {
  align-items: center;
}

.contenedor-cuatro {
  align-items:baseline;
}

.contenedor-cinco {
  align-items: stretch;
}

.conteiner,
.conteiner-dos,
.conteiner-tres,
.conteiner-cuatro,
.conteiner-cinco {
  background-color: aliceblue;
  border: 3px solid black;
  height: 200px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.conteiner-dos {
  justify-content: flex-end;
}

.conteiner-tres {
  justify-content: center;
}

.conteiner-cuatro {
  justify-content: space-between;
}

.conteiner-cinco {
  justify-content: space-around;
}
